@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Merriweather","Serif";
}

/*banner section style starts here*/

.banner-container{
    max-width: 1320px;
    min-height: 600px;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 16px;
    background-image:linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url(/images/Banner\ Image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-items{
    color: rgb(255, 255, 255);
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-items p{
    font-size: 32px;
    font-weight: 400;
}
.banner-items h1{
    font-size:72px;
    font-weight: 900;
}

/* banner section style ends here */



/* discounts section style starts here */

.discounts-section-container{
    width: 802.9px;
    height: 806px;
    margin: 0 auto;
    margin-top: 80px;
}
.discounts-items{
    text-align: center;
    height: 306px;
}
.discounts-items h1{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}
.discounts-items p{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.discounts-items h3{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.discounts-image{
    width: 802.9px;
    height: 500px;
    border:2px dashed rgb(231, 218, 218);
}
.discounts-image img{
    width: 802.9px;
    height: 500px;
}
/* discounts section style ends here */